@model IEnumerable<User>

@{
    ViewData["Title"] = "Read Users";
    Layout = "_Layout4";

}


<h1 class="bg-dark text-white"> List of Users</h1>
<br />

<table class="table table-condensed table-hover">
    <tr>
        <th>User ID</th>
        <th>user FullName</th>
        <th>User Name</th>
        <th>User Email</th>
        <th colspan=2>Actions</th>
    </tr>
    @foreach (User user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.FullName</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-warning text-black" asp-controller="Admin"
                   asp-action="UpdateAdmin" asp-route-id="@user.Id">
                    Update
                </a>
            </td>
            <td>
                <a class="btn btn-sm btn-danger text-white" asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@user.Id">
                    Delete
                </a>
            </td>

        </tr>
    }

</table>

<hr />
<div class="row">
    <div class="col-6">
        <label>Need a new User? </label>
        <a asp-action="Signup" class="btn btn-outline-success">Create a User</a>
    </div>
</div>